@import "./global/variable.scss";

.home_right {
  .chart-line {
    display: flex;
    flex-wrap: wrap;

    .left-line {
      width: 45%
    }

    .right-line {
      width: 55%
    }

    .charts {
      height: 250px;
      color: #fff !important
    }

    .bar_chart,
    .area_chart {
      border-right: 1px solid #fff;
      padding: 5px;
      margin-bottom: 10px;
    }

    .area_chart {
      .data_show {
        display: flex;

        .order_no {
          width: 50%;

          p:first-of-type {
            font-size: 20px;
          }

          a{
            display: block;
            font-size: 30px;
            color: $color-font;
            font-weight: bold;
            margin: 20px 0 0 20px;
            cursor: pointer;
            &:hover{
              color: $color-yellow
            }
          }
        }

        >ul {
          width: 50%;

          li {
            text-align: center;
            display: flex;
            line-height: 20px;
            font-size: 15px;

            label {
              width: 100px;
            }

            span {
              @include span_data_format;
            }
          }
        }
      }
    }

    .bar_chart {
      >ul {
        padding: 0 10%;
        display: flex;
        flex-wrap: wrap;

        li {
          width: 50%;
          display: flex;
          margin-bottom: 5px;

          label {
            width: 120px;
            font-size: 18px;
          }

          span {
            @include span_data_format;
          }
        }
      }
    }
  }
  .chart-round {
    display: flex;
    .pie_chart {
      width: 33%;
      .pie_data {
        display: flex;
        font-size: 18px;
        label {
          margin-right: 10px;
        }
        span {
          @include span_data_format;
        }
      }

      .pie_charts {
        height: 250px;
      }
    }
  }
}
