@import "./global/variable.scss";

.home_containers{
  display: flex;
  > .home_left{
    color:#fff;
    padding: 25px 10px 10px;
    width: 30%;
    max-width: 700px;
    .content_top{
      @include flex_column_center;
      font-weight: bold;
      .title{
        @media (min-width: 1800px) {
          font-size: 43px;
        }
        @media (max-width: 1800px) {
          font-size: 36px;
        }
        @media (max-width: 1500px) {
          font-size: 34px;
        }
        @media (max-width: 1408px) {
          font-size: 32px;
        }
        color: #00ffff;
        &:hover{
         @include hover_color;
        }
      }
      .now_time{
        font-size: 18px;
        margin: 12px 0;
        width: 220px;
      }
    }
    .opdr_containar{
      width: 80%;
      margin: 10px auto;
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;
      a{
        color: #ff9700;
        font-weight: bold;
        padding-top: 10px;
        display: block;
        &:hover{
          @include hover_color;
        }
      }
      ul{
        margin: 10px 0;
        height: 72px;
        overflow-x: hidden;
        overflow-y: auto;
        // animation: maxHeightTranstion 2s linear;
        &::-webkit-scrollbar{
          width: 6px;
          background-color: $color-background;
        }
        &::-webkit-scrollbar-thumb{
          border-radius: 10px;
          background-color: #ff9700;
        }
        li{
          font-size: 12px;
          line-height: 24px;
          height: 24px;
          overflow-y: hidden;
          span{
            color:$color-blue-l
          }
          span.text-red{
            color: $color-red
          }
        }
      }
    }
    .site_btn{
      width: 80%;
      margin:auto;
      display: flex;
      padding-left: 4%;
      >div{
        width: 33%;
        button{
          width: 35px;
          height: 21px;
          border-radius: 5px;
          margin-right: 5px;
          vertical-align: bottom;
        }
        span{
          font-size: 12px;
          color: #ccc;
        }
      }
    }
    .business_group{
      width: 83%;
      margin:12px auto 0px;
      border-left: 2px solid #fff;
      border-right: 2px solid #fff;
      padding: 30px 30px 20px;
      display: flex;
      justify-content: space-around;
      .business_leader{
        margin-bottom: 60px;
      }
      .btn_no{
        position: relative;
        margin-bottom: 25px;
        button{
          width: 68px;
          height: 38px;
          border-radius: 5px;
          font-size: 13px;
          color: #fff;
          &:hover{
            @include hover_color;
          }
        }
        >div{
          width: 30px;
          line-height: 38px;
          text-align: center;
          color:$color-text-gray;
          font-weight: bold;
          position: absolute;
          top:0;
        }
        .left_no{
          left: -30px;
        }
        .right_no{
          right: -30px;
        }
      }
      .business_leader_p{
        width: 68px;
        text-align: center;
        line-height: 35px;
        color:$color-text-gray;
        font-weight: bold
      }
    }
  }
  > .home_right{
    flex: 1;
    padding: 25px 20px 20px 0 ;
  }
}

@keyframes maxHeightTranstion {
  from {
    max-height: 0
  }
  to {
    max-height: 72px
  }
}
